

.BackgroundMail {
    background-image: linear-gradient(to right, #52719f, #4462a6, #454fa8, #5436a4, #690098);
    color:aliceblue;
    text-align:center;
}
.BackgroundError {
    background-image: linear-gradient(to right, #4a0083, #7e0069, #9b0049, #a80029, #a60000);
    color: aliceblue;
    text-align: center;
}
.BackgroundHoover {
    background-image: linear-gradient(to right, #dfc9e3, #c19acd, #9f6eb8, #7b42a5, #501392);
    color: aliceblue;
    text-align: center;
}
.ConsolasFont{
    color:white;
    font-family:Consolas;
}

.topnav {
    overflow: hidden;
    background: rgb(57,0,131);
    background: linear-gradient(90deg, rgba(57,0,131,1) 0%, rgba(50,3,120,1) 36%, rgba(90,8,144,1) 64%, rgba(55,5,88,0.865983893557423) 100%);
}

    .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 19px;
    }

        .topnav a:hover {
            background-color: #5400ce;
            color: #ffffff;
        }

        .topnav a.active {
            background-color: rebeccapurple;
            color: white;
        }
        